<!-- Dashboard Heading -->
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>

<!-- Navigation Link for Facility Search Page -->
<a href="/search" class="btn btn-primary">Search Facilities</a>

<!-- Logout Button -->
<a href="/auth/logout" class="btn btn-secondary">Logout</a>
